:root {
  --text: #1f2328;
  --text-muted: #59636e;
  --bg: #ffffff;
  --surface: #ffeef7;
  --border: #fdd2e8;
  --hover: #fdd2e8;
  --active: #ffb7dd;
  --accent: #fd9ed0;
  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  color-scheme: light;
  font: 14px/1.5 var(--sans);
  color: var(--text);
  background: var(--bg);
}

[data-theme='dark'] {
  --text: #e6edf3;
  --text-muted: #8b949e;
  --bg: #3a0022;
  --surface: #4f002e;
  --border: #6a003e;
  --hover: #6a003e;
  --active: #970059;
  --accent: #c90076;

  color-scheme: dark;
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
}
